HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Application Runtime Data ###
uploads/
*.log
logs/

### Graphify / Agents Output ###
graphify-out/
.agents/
.mvn/


### Azure Stuff ###
azure-logs/
azure-logs-2/
*.zip
azure_riskdb_backup.sql
.azure/

### Miscellaneous / Temporaries ###
mariadb/
uploads_restored/
pp/
projects.json
output_pengendalian.html
report.html
report_owner.html
wwwroot.txt
uploads.txt
riskdb.sql
update_users.sql
